body{
background:#d5d5d5;
font-family:Tahoma;
}

.main-screen{
display:flex;
justify-content:center;
padding:30px;
}

.window{
width:920px;
background:white;
border:1px solid #888;
padding:15px;
}
.header {
  font-size: 24px;        /* 👈 reduce text size */
  
  background: #6d477d;
  color: white;

  text-align: center;

  padding: 6px 20px;      /* 👈 control height */
  border-radius: 6px;

  width: 98%;             /* 👈 reduce width */
  margin: 30px auto 90px; /* 👈 move up + center */
}
.smart{
letter-spacing:6px;
}

.cafe{
color:#c24732;
font-weight:bold;
}

/* GRID FORM */

.form-grid{
display:grid;
grid-template-columns:1fr 1fr;
column-gap:40px;
row-gap:6px;
}

.field{
display:flex;
align-items:center;
}

.field label{
width:140px;
font-size:12px;
}

.field input{
flex:1;
border:1px solid #777;
height:20px;
}

/* TABS */

.tabs{
margin-top:12px;
}

.tab{
border:1px solid #777;
background:#eee;
padding:4px 12px;
margin-right:5px;
font-size:12px;
}

.tab.active{
background:white;
border-bottom:none;
}

/* TABLE */

.table-area{
border:1px solid #777;
height:140px;
margin-top:5px;
overflow:auto;
}

table{
width:100%;
border-collapse:collapse;
font-size:12px;
}

th,td{
border:1px solid #aaa;
padding:4px;
}

td input{
width:100%;
border:none;
}

/* BUTTONS */

.table-buttons {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

/* COMMON STYLE (like 2nd image) */
.table-buttons button {
  color: white;
  border: none;
  padding: 10px 20px;   /* 👈 bigger */
  font-size: 14px;
  border-radius: 8px;   /* 👈 rounded */
  cursor: pointer;
}

/* Add */
.table-buttons button:nth-child(1) {
  background: #28a745;
}

/* Delete */
.table-buttons button:nth-child(2) {
  background: #dc3545;
}

/* Clear */
.table-buttons button:nth-child(3) {
  background: #007bff;
}

/* Hover */
.table-buttons button:hover {
  opacity: 0.9;
}

.footer-bar {
  margin-top: 12px;
 
  padding: 10px;

  display: flex;              /* 👈 important */
  justify-content: flex-start; /* left side */
  gap: 20px;                 /* 👈 space between buttons */
}

.footer-bar {
  position: absolute;

  top: 155px;        /* 👈 inside gap from top */
  right: 60px;     /* 👈 inside gap from right */

  display: flex;
  gap: 8px;        /* 👈 small spacing */
}

/* SMALL BUTTON */
.footer-bar button {
  background: #a94442;
  color: white;
  border: none;

  width: 60px;       /* 👈 width */
  height: 35px;      /* 👈 height */

  font-size: 12px;
  border-radius: 4px;
}
/* New */
.footer-bar button:nth-child(1) {
  background: #007bff;   /* blue */
}

/* Save */
.footer-bar button:nth-child(2) {
  background: #28a745;   /* green */
}

/* Delete */
.footer-bar button:nth-child(3) {
  background: #dc3545;   /* red */
}

/* Close */
.footer-bar button:nth-child(4) {
  background: #6c757d;   /* grey */
}